<h1>List of OSU Courses</h1>


<h3>Add new class</h3>
<form id="addClass" action="/class" method="post">
    Class Name: <input type="text" name="class_name">
    <br><br>
    Class Prerequisite: <input type="text" name="prerequisite">
    <br><br>
    Quarter Available: <br>
    <select name="qtr_offered">
        <option value="Fall,">FALL</option>
        <option value ="Winter,">WINTER</option>
        <option value ="Spring,">SPRING</option>
        <option value ="Summer,">SUMMER</option>
        <option value="all">all</option>
    </select>
    <br><br> 
    Instructor: <select name="instructor">
    {{#each instructors}}
    <option value="{{instructor_id}}">{{first_name}} {{last_name}}</option>
    {{/each}}
    </select>
    <br><br>
    <input type="submit" value="Add New Class">
</form>
<br>

<h3>Filter Data</h3>
<form id='filter_class' action='' method=''>
<!--- this form does not submit directly, the button handles all the interaction with backend -->
    <label> Filter by quarter offered: </label>
    <select id='qtr_offered_filter' name="qtr_offered"> 
        <option value="Fall,">FALL</option>
        <option value ="Winter,">WINTER</option>
        <option value ="Spring,">SPRING</option>
        <option value ="Summer,">SUMMER</option>
        <option value="all">all</option>
    </select>
    <input type="button" value="Filter" onclick="filterQtrOffered()">
</form>
<br>

<h3>Search Data</h3>
<form id='search_class' action='' method=''>
<!--- this form does not submit directly, the button handles all the interaction with backend -->
    <label> Search class where instructor first name like: </label>
    <input id='first_name_search_string' type='text' name='first_name_search_string' value=''>
    <input type="button" value="Search" onclick="searchClassByInstructorName()">
</form>
<br>

<h3>Table Data</h3>
<table>
<thead>
        <th>ID#</th>
        <th>Class Name</th>
        <th>Prerequisite</th>
        <th>Quarter offered</th>
        <th>Instructor First</th>
        <th>Last Name</th>
        <th>Delete</th>
        <th>Edit</th>
</thead>

<tbody>
{{#each classes}}
            <tr>
            	<td>{{class_id}}</td>
                <td>{{class_name}}</td>
                <td>{{prerequisite}}</td>
                <td>{{qtr_offered}}</td>
                <td>{{first_name}}</td>
                <td>{{last_name}}</td>
                <td><button onclick="deleteClass({{class_id}})">Delete</button></td>
                <td><a href="/class/{{class_id}}">Edit</a></td> 
            </tr>
{{/each}}
</tbody> 
</table>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous">
        
        </script>

<script>
    function deleteClass(class_id){
        console.log("We're in delete in Class function");
    $.ajax({
        url: '/class/' + class_id,
        type: 'DELETE',
        success: function(result){
            window.location.reload(true);
            console.log(result);
        }
    })
};

function filterQtrOffered() {
    event.preventDefault();
        //get class by qtr offered
    var qtr_offered = document.getElementById('qtr_offered_filter').value;
    console.log('calling filterQtrOffered');
    console.log(qtr_offered);
    //construct the URL and redirect to it
    window.location = '/filter/class/' + encodeURI(qtr_offered)
}


function searchClassByInstructorName() {
    //get the first name 
    var first_name_search_string  = document.getElementById('first_name_search_string').value;
    console.log(first_name_search_string);
    //construct the URL and redirect to it
    window.location = '/search/class/' + encodeURI(first_name_search_string)
}


</script>