<html>
{{#each foo}}
{{this}}
{{/each}}
<h3>Add new enrollment:</h3>
<form id="addenrollment" action="/enrollment" method="post">
    Type: <input type="text" name="type"><br>
    <input type="submit" value="Submit">
 </form>
<br/>

<h3>Current enrollment:</h3>
<table>
    <thead> 
        <th>ID</th> 
        <th>Enrollment Type</th>
    </thead> 
    <tbody>
        {{#each enrollment}} 
        <tr> 
            <td>{{id}}</td> 
            <td>{{type}}</td>
            <td><button onclick="deleteEnrollment({{id}})">Delete</button></td>
            <td><a href="/enrollment/{{id}}">Update</a></td>
        </tr> 
        {{/each}} 
    </tbody> 
</table> 
</html>
