<h1>Home Test</h1> 
<ul>
  {{#each rows}}
    <li>Class id: {{class_id}}
   		<br>
    	Name: {{class_name}}
   		<br>
    	Prequisite: {{prerequisite}}
    	<br>
    	Quarter: {{qtr_offered}}
    	<br>
    	Instructor: {{instructor}}
    	<br>
  {{/each}}
</ul>